<div class="container">

  <h1>{{title}}</h1>

  <input class="form-control w-25" type="text" placeholder="Search…" [(ngModel)]="searchValue">

  <div class="row" *ngIf="team">

    <div class="card" *ngFor="let teammate of team | search:searchValue" appHover>
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="{{teammate.photo}}">
      <div class="card-body">
        <h5 class="card-title">
          {{teammate.fullName | uppercase}}
          <h6>
            {{teammate.location | titlecase}}
          </h6>
        </h5>
        <p class="card-text">
          {{teammate.email}}
        </p>
        <a routerLink="/team/{{teammate.id}}" class="stretched-link"></a>
      </div>
    </div>

  </div>
  
</div>
